.App {
  text-align: center;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}

button {
  text-align: center;
  border-radius: 15px;
  border: 0;
  margin: 10px;
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
  background-color: brown ;
}

form {
  font-size: 30px;
}

input {
  font-size: 20px;
  margin: 15px;
  padding: 10px;
}

label {
  display: block;
}